.watchlist-wrapper {

}
.watchlist-container {

}
.watchlist-container .watchlist-head {
    margin: 1rem;
}
.watchlist-head label {
    font-size: 18px;
}
.watchlist-container .watchlist-list {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* gap: 20px; */
}
.watchlist-list .watchlist-list-item {
    /* border: 1px solid #d3d3d3; */
    /* padding: 1rem; */
}

.watchlist-modify-btn {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;

}
.watchlist-modify-btn .watchlist-cart-btn{
    background: #007bff;
    color: #fff;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}
.watchlist-modify-btn .watchlist-trash-btn {
    background: #fff;
    outline: none;
    border: 1px solid #bcbcbc;
    font-weight: normal;
    padding: 4px;
}