.watchlist-wrapper {

}
.watchlist-container {

}
.watchlist-container .watchlist-head {
    margin: 1rem;
}
.watchlist-head label {
    font-size: 18px;
}
.watchlist-container .watchlist-list {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* gap: 20px; */
}
.watchlist-list .watchlist-list-item {
    /* border: 1px solid #d3d3d3; */
    /* padding: 1rem; */
}

.watchlist-modify-btn {
    display: flex;
    align-items: start;
    margin: 0 1rem;
    
}