.form-container {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 30px;
  width: 100%;
  max-width: 400px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 15px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
  border-color: #fd7e14;
  outline: none;
  box-shadow: 0 0 4px rgba(253, 126, 20, 0.4);
}

label {
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 14px;
  color: #aaa;
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Move the label above the input when it's focused or filled */
input:focus + label,
input:not(:placeholder-shown) + label {
  top: -10px;
  left: 10px;
  font-size: 12px;
  color: #fd7e14;
}

/* Button styles */
button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #fd7e14;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #e36414;
}

button:active:not(:disabled) {
  transform: scale(0.95);
}

p {
  font-size: 18px;
  color: #666;
}