/* navigation.css */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.container-left,
.container-middle,
.container-right {
  display: flex;
  align-items: center;
}

.nav-link {
  list-style: none;
  display: flex;
}

.nav-item {
  position: relative;
  margin-right: 20px;
}

.dropdown-content {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
}

.dropdown-column {
  flex: 1 1 150px; /* Adjust this value as needed */
  margin-right: 10px;
  min-width: 150px; /* Ensure each column has a minimum width */
}

.dropdown-column a {
  display: block;
  padding: 5px 0;
  color: black;
  text-decoration: none;
}

.dropdown-column a:hover {
  background-color: #f1f1f1;
}
