.nav-wrapper{
    /* border: 1px solid black; */
    background: white;
    position: sticky;
    top: 0;
    z-index: 999;
}
.nav-container{
    /* border-bottom: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7rem;
}
.container-left{
    
}
.container-left > .brand-logo{
    color: #490B3D;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

.container-middle{

}
.container-middle > .nav-link{
    display: flex;
    padding: 0;
    margin-top: 12px;
    list-style: none;
}
.container-middle > .nav-link > #css-link{
    margin: 0 1rem;
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 8px;
}
.container-middle > .nav-link .active {
    border-bottom: 3px solid #490B3D;
}
.container-right{
    display: flex;
    /* border: 1px solid black; */

}
.container-right >.nav-search{
    margin:0.1rem 0.6rem;
    display: flex;
    align-items: center;
}
.nav-search > .search-input {
    height: 2rem;
    border: 1px solid #bcbcbc;
    width: 18rem;
    border-radius: 4px;
    outline: none;
    margin-right: 0.5rem;
    padding-left: 0.3rem;
    background-color: #ffffff;
}
.search-input::-webkit-search-cancel-button{
    display: none;
}
.nav-search label{
    cursor: pointer;
}
.container-right > .nav-profile{
    margin:0.1rem 0.6rem;
    cursor: pointer;
    /* border: 1px solid black; */
}
.nav-profile .user-auth-icon {
    /* border: 1px solid black; */
    border-radius: 4px;
    padding: 2px 5px;
    background-color: #d3d3d3;
    color: black;
    font-weight: 600;
}
.container-right > .nav-cart{
    margin:0.1rem 0.6rem;
    cursor: pointer;
}
.nav-cart .nav-cart-value{
    border: 1px solid black;
    width: 10px;
    height: 10px;
    padding: 10;
}