.bagitem-items{
    display: flex;
}
.bagitem-items img {
    width: 80px;
    height: 70px;
    border-radius: 2px;
    background-size: cover;
    cursor: pointer;
}
.bagitem-items .bagitem-item-det {
    margin-left: 0.5rem;
}
.bagitem-item-det .bagitem-remove-btn{
    background: none;
    border: none;
    text-transform: uppercase;
    
}