.bgt-wrapper{
    width: 100%;
    margin: 0;
    padding: 0;
}
.bgt-container{
    display: flex;
    /* justify-content: space-between; */
    margin: 1rem;
}
.bgt-container .bgt-ct-left{
    flex: 0.3
}
.bgt-ct-left .ct-left-img{

}
.bgt-ct-left .ct-left-img img{

}
.bgt-container .bgt-ct-right{

}
.bgt-ct-right .ct-rt-top{

}
.ct-rt-top .rt-top-left{

}
.ct-rt-top .rt-top-right{

}
.bgt-ct-right .ct-rt-bottom{

}
.ct-rt-bottom .rt-bottom-left{

}
.ct-rt-bottom .rt-bottom-right{

}