.bgt-wrapper{
    width: 100%;
    margin: 0;
    padding: 0;
}
.bgt-container{
    display: flex;
    /* justify-content: space-between; */
    gap: 1rem;
    margin: 0.75rem;
}
.bgt-container .bgt-ct-left{
    flex: 0.15;
    /* border: 1px solid #000; */
}
.bgt-ct-left .ct-left-img{
    /* border:0.5px solid #ddd; */
    /* padding: 8px 10px; */
    /* margin: 0.25rem; */
}
.bgt-ct-left .ct-left-img img{
    width: 100px;
    height: 140px;
    border-radius: 8px;
    object-fit: cover;
}
.bgt-container .bgt-ct-right{
    flex: 0.85;
}
.bgt-ct-right .ct-rt-top{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    /* border: 1px solid #000; */
}
.ct-rt-top .rt-top-left{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #495057;
    font-weight: normal;
}
.rt-top-left .top-lt-name{
    /* font-size: 18px; */
    /* color: #495057; */
    /* font-weight: normal; */
    margin-bottom: 0.25rem;
    letter-spacing: 1px;
}
.rt-top-left .top-lt-det{
    display: flex;
    align-items: center;
}
.top-lt-det .lt-det-price{
    font-size: 14px;
}
.top-lt-det .lt-det-break{
    margin: 0 0.5rem;
}
.top-lt-det .lt-det-stock{
    font-size: 14px;
    color: green;
    font-weight: 600;
    letter-spacing: 1px;
}
.ct-rt-top .rt-top-right{
    font-size: 18px;
    color: #495057;
    font-weight: 600;
    letter-spacing: 1px;
}
.bgt-ct-right .ct-rt-bottom{

}
.ct-rt-bottom .rt-bottom-left{

}
.ct-rt-bottom .rt-bottom-right{

}