.bagitem-wrapper{
    width: 100%;
    height: 100%;
}
.bagitem-container{
    display: flex;
}
.bagitem-items{
    flex: 0.3;
    display: flex;
}
.bagitem-items img {
    width: 80px;
    height: 70px;
    border-radius: 2px;
    background-size: cover;
    cursor: pointer;
}
.bagitem-items .bagitem-item-det {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.bagitem-item-det .bagitem-remove-btn{
    background: none;
    border: 1px solid transparent;
    /* text-transform: uppercase; */
    font-weight: 600;
    color: #8c8d8e;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 2px 5px;

}
.bagitem-remove-btn:hover{
    border: 1px solid red;
    padding: 2px 5px;
    border-radius: 2px;
    color: red;
    transition: all 2s;
}
.bagitem-attr-cnt{
    flex: 0.2;
}
.bagitem-attr-cnt .attr-cnt-det {
    display: flex;
    
    flex-direction: column;
}

.bagitem-quantity {
    flex: 0.2;
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: #f5f5f5;
  border-radius: 8px;
  /* margin-bottom: 10px; */
}

.bagitem-quantity button {
  background-color: #007bff;
  border: 1px solid #007bff;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.bagitem-quantity button:hover {
  background-color: white;
  color: #007bff;
  border: 1px solid #007bff;
}

.bagitem-quantity span {
  font-size: 18px;
  padding: 5px 15px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
}