.bgt-wrapper{
    width: 100%;
    margin: 0;
    padding: 0;
}
.bgt-container{

}
.bgt-container .bgt-ct-left{

}
.bgt-ct-left .ct-left-img{

}
.bgt-ct-left .ct-left-img img{

}
.bgt-container .bgt-ct-right{

}
.bgt-ct-right .ct-rt-top{

}
.ct-rt-top .rt-top-left{

}
.ct-rt-top .rt-top-right{

}
.bgt-ct-right .ct-rt-bottom{

}
.ct-rt-bottom .rt-bottom-left{

}
.ct-rt-bottom .rt-bottom-right{

}