.billing-address-wrapper
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f1f3f6;
}
.billing-address-container
{
    width: 85%;
    height: 100%;
}

.bill-label-head {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-top: 2rem;
    /* width: 600px; */
    margin-bottom: 1em;
    /* border: 1px solid black; */
}
.bill-label-head label {
    font-size: 24px;
    margin-right: 1em;
}
.bill-head-new {
    padding: 4px 10px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 2px;
    cursor: pointer;
}
.billing-address-scard{
    
    /* width: 300px; */
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
}
.billing-address-scard .bill-address-scard-container{
    /* margin: 0.5em; */
    padding: 0.5em;
    width: 280px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    background-color: #fff;
}
.bill-scard-tag{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bill-address-scard-container .bill-scard-tag span:first-child{
    background-color: #f1f3f6;
    padding: 2px 5px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    font-size: 12px;
}
.bill-scard-tag .scard-modify{
    display: flex;
    align-items: center;
}
.scard-modify .scard-selected-address{
    margin-right: 0.5em;
    cur
}
.bill-scard-tag .scard-modify .bill-label-edit{
    padding: 2px 5px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    font-size: 12px;
    background-color: #fff;
    color: #007bff;
    cursor: pointer;
}
.bill-scard-tag .scard-modify .bill-label-edit:hover{
    border: 1px solid #007bff;
}
.bill-scard-nameph{
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    font-size: 14px;
}
.bill-scard-nameph .bill-scard-name {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0.25rem 0;
}
.bill-scard-nameph .bill-scard-phno{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bill-scard-phno span:last-child{
    cursor: pointer;
    display: none;
    background-color: #fff;
    padding: 2px 5px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    font-size: 12px;
}
.bill-scard-locate {
    margin-top: 0.5em;
    font-size: 12px;
    /* color: rgb(108, 108, 108); */
    display: flex;
    flex-direction: column;
}

/* billingaddress.css */
.modal-overlay {
    padding: 5px 0;
    border-radius: 4px;
    width: max-content;
    background-color: #fff;
}
.bill-address-next {
    margin-top: 1em;
    display: flex;
    align-items: end;
    justify-content: end;
    height: 56vh;
    /* border:1px solid black; */
}
.bill-address-next .bill-next-payment{
    padding: 4px 10px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 2px;
    cursor: pointer;
}