.shoppingbag-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f1f3f6;
}
.shoppingbag-container {
    /* display: flex; */
    width: 85%;
    height: 100%;
}
.shoppingbag-container .bag-label-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
.bag-label-head label {
    font-size: 24px;
}
.bag-label-head .continue-shop {
    background: ;
    padding: 6px 10px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
    border: none;
}
.shoppingbag-items{
    display: flex;
    flex-direction: column;
}
.shoppingbag-items .bag-items-head {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    text-transform: uppercase;
    padding: 5px 0px;
    border-bottom: 1px solid #cccfe1;
    font-size: 14px;
}
.bag-items-head .bag-head-items {
    /* width: 400px; */
    flex: 0.3;
    /* border: 1px solid black; */

}
.bag-items-head .bag-head-attribute {
    /* width: 200px; */
    flex: 0.2;
    /* text-align: center; */
    /* border: 1px solid black; */

}
.bag-items-head .bag-head-quantity {
    /* width: 300px; */
    flex: 0.2;
    /* text-align: center; */
    /* border: 1px solid black; */

}
.bag-items-head .bag-head-Shiping-cost {
    /* width: 200px; */
    flex: 0.15;
    /* text-align: center; */
    /* border: 1px solid black; */

}
.bag-items-head .bag-head-Price {
    text-align: end;
    flex: 0.15;
    /* border: 1px solid black; */
}