.shoppingbag-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f1f3f6;
}
.shoppingbag-container {
    /* display: flex; */
    width: 85%;
    height: 100%;
}
.shoppingbag-container .bag-label-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
.bag-label-head label {
    font-size: 24px;
    color: #495057;
    font-weight: 600;
}
.bag-label-head .continue-shop{
    background: #59839d;
    color: #fff;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    border: none;
}
.shoppingbag-items{
    display: flex;
    flex-direction: column;
}
.shoppingbag-items .bag-items-head {
    display: flex;
    align-items: center;
    margin: 3rem 0 1rem 0;
    text-transform: uppercase;
    /* padding: 5px 0px; */
    padding: 0.75rem;
    /* border-bottom: 1px solid #cccfe1; */
    font-size: 14px;
}

.shoppingbag-cal-chkout {
    margin-top: 2rem;
}
.bag-items-head .bag-head-items {
    /* width: 400px; */
    flex: 0.3;
    font-size: 18px;
    color: #495057;
    font-weight: 600;
    /* border: 1px solid black; */

}
.bag-items-head .bag-head-attribute {
    /* width: 200px; */
    flex: 0.2;
    font-size: 18px;
    color: #495057;
    font-weight: 600;
    /* text-align: center; */
    /* border: 1px solid black; */

}
.bag-items-head .bag-head-quantity {
    /* width: 300px; */
    flex: 0.2;
    font-size: 18px;
    color: #495057;
    font-weight: 600;
    /* text-align: center; */
    /* border: 1px solid black; */

}
.bag-items-head .bag-head-Shiping-cost {
    /* width: 200px; */
    flex: 0.15;
    font-size: 18px;
    color: #495057;
    font-weight: 600;
    /* text-align: center; */
    /* border: 1px solid black; */

}
.bag-items-head .bag-head-Price {
    text-align: end;
    flex: 0.15;
    font-size: 18px;
    color: #495057;
    font-weight: 600;
    /* border: 1px solid black; */
}
.shoppingbag-cal-chkout {
    display: flex;
    /* align-items:end; */
    justify-content: space-between;
    margin-bottom: 3rem;
    /* border: 1px solid black; */
}
.shoppingbag-cal-chkout .bag-chkout-cnt {
    width: 300px;
    display: flex;
    flex-direction: column;
}
.bag-chkout-cnt .bag-chkout-subtt,
.bag-chkout-cnt .bag-chkout-est,
.bag-chkout-cnt .bag-chkout-total {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    margin: 0.5rem 0;
    color: #495057;
}
.bag-chkout-coupon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
    position: relative;
}

.bag-chkout-coupon .bag-coupon-code {
    border: 1px solid gray;
    width: calc(100%); /* Leave space for 'Applied' label */
    padding: 5px;
    color: gray;
    text-align: center;
    letter-spacing: 3px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    transition: color 0.3s, border-color 0.3s;
}

.bag-coupon-code:hover {
    color: green;
    border: 1px solid green;
}
/* New styles for when a coupon is selected */
.coupon-selected {
  color: green !important;
  border: 1px solid green !important;
}
.bag-coupon-tick {
    color: green;
    font-weight: bold;
    position: absolute;
    top: -10px;
    right: 0px;
    font-size: 10px;
    background-color: #f1f3f6;

}

.bag-chkout-total .bag-total {

}
.bag-chkout-total .bag-total-val {
    font-size: 24px;
    letter-spacing: 0.15rem;
    font-weight: bold;
    color: #59839d;
}
.bag-total-val,
.bag-estcost-val span,
.bag-subtotal-val span {
    color: #495057;
    font-size: 14px;
    font-weight: bold;
    margin-right: 1rem;
}
.bag-total-val span,
.bag-estcost-val span,
.bag-subtotal-val span {
    color: #495057;
    font-size: 14px;
    font-weight: bold;
    margin-right: 1rem;
}
.checkout-btn {
    display: flex;
    margin-top: 1rem;
}
.checkout-btn button{
    width: 100%;
    padding: 5px;
    background: #59839d;
    color: #fff;
    font-size: 14px;
    border: 1px solid #59839d;
    border-radius: 4px;
    cursor: pointer;
}


