.aspect-h-1 {
    --tw-aspect-h: 1;
}
.aspect-w-1 {
    position: relative;
    padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
    --tw-aspect-w: 1;
}
.aspect-w-1 > * {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.overflow-hidden {
    overflow: hidden;
}
.rounded-lg {
    border-radius: 0.5rem/* 8px */;
}
.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
@media (min-width: 1280px) {
    .xl\:aspect-h-8 {
        --tw-aspect-h: 8;
    }
}
@media (min-width: 1280px) {
    .xl\:aspect-w-7 {
        position: relative;
        padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
        --tw-aspect-w: 7;
    }
}
@media (min-width: 1280px) {
    .xl\:aspect-w-7 > * {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
.object-cover {
    object-fit: cover;
}
.object-center {
    object-position: center;
}
.group:hover .group-hover\:opacity-75 {
    opacity: 0.75;
}
.mt-4 {
    margin-top: 1rem/* 16px */;
}
.text-sm {
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
}
.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}
.mt-1 {
    margin-top: 0.25rem/* 4px */;
}
.text-lg {
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem/* 28px */;
}
/* 

.recommand-product-container .recommand-product-grid {
  display: flex;
  width: 100%;
}

.recommand-p-card {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  background-color: #fff;
  padding: 0.5rem;
  width: 200px; 
  height: 280px; 
  margin: 0 5px; 
  box-sizing: border-box; 
}

.recommand-p-card .recommand-p-left .recommand-p-title {
  margin-top: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 60px; /* Set the maximum height for the title */
}

.recommand-p-card .recommand-p-left img {
  width: 100%; /* Make the image fill the container */
  height: 160px;
  object-fit: cover;
  cursor: pointer;
}
.recommand-p-rating{
  display: flex;
  font-weight: 600;
  color: grey;
  margin: 0.25rem 0;
} */

.slick-slider {
  margin: 1rem 0;
  position: relative;
}

.slick-arrow {
  background-color: #490B3D;
  color: white;
  border-radius: 5px;
}

.slick-arrow:hover,
.slick-arrow:focus {
  color: white;
  background: #490B3D;
}

.slick-prev {
  top: 35%;
  position: absolute;
  left: -40px;
  height: 50px !important;
  width: 30px !important;
}

.slick-next {
  top: 35%;
  height: 50px !important;
  width: 30px !important;
  right: -30px;
  position: absolute;
}

.slick-disabled {
  visibility: hidden;
}
