@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
.product-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.product-placeholder-image,
.product-placeholder-title,
.product-placeholder-price {
  position: relative;
  overflow: hidden;
  background-color: #e0e0e0;
  border-radius: 4px;
}


.product-placeholder-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-placeholder-title,
.product-placeholder-price {
  width: 80%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 4px;
  margin-bottom: 10px;
}

.product-placeholder-title {
  width: 60%;
}
