.g-d-wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    jc
}
.g-d-container{
    border: 1px solid black;
    width: 90vw;
    height: 90vh;
}
.g-d-c-top-index{

}
.gdc-t-i-left{

}
.gdc-til-logo{

}
.gdc-til-usr-details{

}
.til-usr-name{

}
.til-usr-uid{

}
.usr-id{

}
.usr-clip{

}
.til-usr-ref{

}
.usr-ref-link{

}
.gdc-t-i-right{

}
.tir-links{

}
.tir-links li{

}
.g-d-c-bottom-index{

}