.g-d-wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.g-d-container{
    border: 1px solid black;
    width: 95vw;
    height: 95vh;
    border-radius: 14px;
}
.g-d-c-top-index{
    display: flex;
    flex-direction: column;
}
.gdc-t-i-left{

}
.gdc-til-logo{

}
.gdc-til-usr-details{

}
.til-usr-name{

}
.til-usr-uid{

}
.usr-id{

}
.usr-clip{

}
.til-usr-ref{

}
.usr-ref-link{

}
.gdc-t-i-right{

}
.tir-links{

}
.tir-links li{

}
.g-d-c-bottom-index{

}