.pan-upload-wrapper{
    width: 100%;
}
.pan-upload-container {
    margin: 1rem;
    border-radius: 4px;
}
.pan-upload-container .pan-upload-head{
    padding: 15px;
    color: #007bff;
}
.pan-upload-head label{

}
.pan-upload-container .pan-upload-form {
    margin: 0 1rem;
    /* width: 620px; */
}
.pan-upload-form .panupload-name,
.pan-upload-form .panupload-no,
.pan-upload-form .panupload-img{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 1rem;
    margin-top: 2rem;
}
.panupload-name label,
.panupload-no label,
.panupload-img label {
    position: absolute;
    top: -10px;
    left: 6px;
    background-color: #fff;
    font-size: 12px;
    color: #007bff;
}
.panupload-name #_pan-name,
.panupload-no #_pan-no{
    height: 40px;
    padding-left: 15px;
    width: 300px;
    outline: none;
    border: 1px solid #007bff;
    border-radius: 4px;   
}
.panupload-img #_pan-img{
    height: 40px;
    padding-left: 15px;
    width: 300px;
    padding-top: 10px;
    outline: none;
    border: 1px solid #007bff;
    border-radius: 4px;   
    background-color: #fff;
}
.pan-upload-declare {
    display: flex;
    margin-top: 2rem;
    align-items: flex-start;
}
.pan-upload-declare #_declaration {
    width: 30px;
    height: 20px;
}
.pan-upload-declare .pan-declare-text {
    margin-left: 1rem;
    font-size: 12px;
}
.pan-upload-form .pan-uploadbtn {
    font-size: 12px;
    display: flex;
    align-items: center;
    width: max-content;
    background-color: #007bff;
    border: 1px solid #d3d3d3;
    padding: 8px 50px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    height: 40px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}