.banner {
  /* position: absolute; */
  /* top: 60px; Adjust based on your navigation height */
  /* left: 0; */
  width: 100%;
  /* border-radius: 5px; */
  /* background-color: #ccc; Example background color */
  overflow: hidden;
  transition: height 0.5s ease; /* Optional: Add smooth transition effect */
}
.banner-content {
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  color: #fff; /* Example text color */
}

.banner-content h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.banner-content p {
  font-size: 1.2rem;
}

.slider-img {
  width: 100%;
  border-radius: 5px;
  /* height: calc(100vh-280px); */
  background-size: cover;
  /* background-position: center; */
}
