.banner {
  width: 100%;
  overflow: hidden;
  transition: height 0.5s ease; /* Optional: Add smooth transition effect */
}
.banner-content {
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  color: #fff; /* Example text color */
}

.banner-content h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.banner-content p {
  font-size: 1.2rem;
}

.slider-img {
  width: 100%;
  border-radius: 5px;
  height: 70vh;
  object-fit: cover;
  /* background-position: center; */
}

.banner {
  position: relative;
  overflow: hidden;
}

.banner-content {
  position: relative;
}

.slider-img {
  width: 100%;
  height: auto;
  /* Ensure the image takes up the full width of its container */
} */

.banner-controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.control-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  outline: none;
}

.control-dot.active {
  background-color: #333;
}
